


.Services-page h1{

    font-family: 'Roboto', sans-serif !important;
/* font-size: 70px; */
font-weight: 900;

}
.Services-page h1 .title{

    color:#f5aa2b;
}

.Services-page h2{font-family: 'Roboto', sans-serif !important;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    }



    .serv-card{


height: 70vh;
          background-image: url("../../images/serv-card.jpg");
            background-position: center; background-size: cover;
    }